html {
    font-size: 312.5%;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}